body {
  margin: 0px;
  padding: 0px;
}

.main {
  background-color: #19191b;
}
.container {
  padding: 0px 120px;
  height: 100vh;
}

.logo {
  width: 132px;
  height: 40px;
}

.nav {
  color: #ffffff;

  padding-top: 50px;
  justify-content: space-between;
  display: flex;
}
.ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.li {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: sans-serif;
  text-align: center;
}

.a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #5454d4;
}

.btn {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  width: 157px;
  height: 44px;
  border-radius: 4px;
  font-style: normal;
  font-family: sans-serif;
}
.btn:hover {
  background-color: #5454d4;
  border-color: #5454d4;
}
