@import "fonts.css";

body {
  margin: 0px;
  padding: 0px;
}

.main {
  background-color: #19191b;
}
.container {
  padding: 0px 120px;
  height: 100vh;
}

.logo {
  width: 132px;
  height: 40px;
}

.nav {
  color: #ffffff;

  padding-top: 50px;
  justify-content: space-between;
  display: flex;
}
.nav__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__items {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: sans-serif;
  text-align: center;
}

.nav__items {
  color: #ffffff;
  text-decoration: none;
}

.nav__items:hover {
  color: #5454d4;
}

.nav__btn {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  width: 157px;
  height: 44px;
  border-radius: 4px;
  font-style: normal;
  font-family: sans-serif;
}
.nav__btn:hover {
  background-color: #5454d4;
  border-color: #5454d4;
}

.hero-section {
  display: flex;
}

.build {
  color: white;
  font-size: 80px;
  line-height: 84px;
  width: 582px;
  height: 252px;
  font-style: normal;
  font-weight: 700;
}

.description {
  color: white;
  font-size: 21px;
  line-height: 39px;

  font-style: normal;
  font-weight: 400;
}

.hero-btn {
  width: 204px;
  height: 58px;
  color: white;
  background-color: #5454d4;
  font-size: 20px;
  font-style: normal;
  line-height: 27, 28px;
  font-weight: 700;
}
.view {
  color: white;
  font-size: 60px;
  line-height: 70px;

  font-style: normal;
  font-weight: 700;
}
