@import "fonts.css";

body {
  margin: 0px;
  padding: 0px;
}

.main {
  background-color: #19191b;
}
.container {
  padding: 0px 120px;
  height: 1000vh;
}

.logo {
  width: 132px;
  height: 40px;
}

.nav {
  color: #ffffff;

  padding-top: 50px;
  justify-content: space-between;
  display: flex;
}
.nav__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__items {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: sans-serif;
  text-align: center;
}

.nav__items {
  color: #ffffff;
  text-decoration: none;
}

.nav__items:hover {
  color: #5454d4;
}

.nav__btn {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  width: 157px;
  height: 44px;
  border-radius: 4px;
  font-style: normal;
  font-family: sans-serif;
}
.nav__btn:hover {
  background-color: #5454d4;
  border-color: #5454d4;
}

.hero-section {
  display: flex;
  height: 100vh;
}

.build {
  color: white;
  font-size: 80px;
  line-height: 84px;
  width: 582px;
  height: 252px;
  font-style: normal;
  font-weight: 700;
}

.description {
  color: white;
  font-size: 21px;
  line-height: 39px;

  font-style: normal;
  font-weight: 400;
}

.hero-btn {
  width: 204px;
  height: 58px;
  color: white;
  background-color: #5454d4;
  font-size: 20px;
  font-style: normal;
  line-height: 27, 28px;
  font-weight: 700;
}
.view {
  height: 100vh;
}
.video-description {
  display: flex;

  color: white;
  margin-top: 20px; /*I had some problems with getting the right property to align the items vertically*/
}
.video-description h2 {
  font-size: 40px;
  line-height: 46.5px;
  margin-top: 0px;
  margin-right: 160px;

  font-weight: 700px;
  max-width: 390.25px;
}
/*the distance between these two elements is really strange, i had to put a crazy amount of margin-right to get what I think Figma wanted*/

.video-description p {
  font-size: 14px;
  margin-top: 0px;
  font-weight: 400;
  max-width: 390.25px;
}

.services {
  margin-top: 150px;
  height: 100vh;
}
.h-services {
  color: white;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*hahahahahaha this one took me a LOOONG time to solve. I didn't know how to align the content like this*/

  max-width: 695px;
}

.service-icons h3,
p {
  color: white;
}

.service-icons h3 {
  font-size: 28px;
  font-weight: 700;
}

.service-icons p {
  font-size: 20px;
  font-weight: 400;
}

.service-icons {
  max-width: 33%; /*I know that I still need to learn a lot, but I'm particularly proud of this one, I decided to add the property flex-wrap=wrap down on the div that is holding all the icons together and decided to put each icon to have this max-width of 33%, because there are 2 rows with 3 items each, so I thought that it would be a nice idea.*/
}

.service-list-1 {
  display: flex;
}

.video-meeting {
  display: block;
  margin: 0 auto;
}
.all-services {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.portfolio-img {
  display: block;
  max-width: 33%;
}
.portfolio-items {
  display: flex;
}
.portfolio {
  font-size: 58px;
  color: #ffffff;
  height: 100%;
}

.contact {
  height: 100vh;
  display: flex;
  align-items: center;
}
.h-contact {
  font-size: 60px;
  color: white;
  font-weight: 700;
  max-width: 66%;
}
.btn-contact {
  width: 201px;
  height: 60px;
  background-color: #5454d4;
  color: white;
  font-size: 21px;
  font-weight: 700;
}

.enver-footer {
  display: flex;
  align-items: center;
}
.footer-items {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.footer-logo {
  max-width: 33%;
}

.enver-ltda {
  max-width: 33%;
}

.footer-links {
  display: flex;
}
